@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Quicksand";
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(54, 51, 51);
  scroll-behavior: smooth;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
